@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-40%);
  }
  10% {
    -webkit-transform: translateY(-80%);
  }
  15% {
    -webkit-transform: translateY(-40%);
  }
  20% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-30%);
  }
  30% {
    -webkit-transform: translateY(-60%);
  }
  35% {
    -webkit-transform: translateY(-30%);
  }
  40% {
    -webkit-transform: translateY(0);
  }
  45% {
    -webkit-transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(-40%);
  }
  55% {
    -webkit-transform: translateY(-20%);
  }
  60% {
    -webkit-transform: translateY(0%);
  }
  65% {
    -webkit-transform: translateY(-10%);
  }
  70% {
    -webkit-transform: translateY(-20%);
  }
  75% {
    -webkit-transform: translateY(-10%);
  }
  80% {
    -webkit-transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(-5%);
  }
  90% {
    -webkit-transform: translateY(-10%);
  }
  95% {
    -webkit-transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}