<template>
  <div id="main_wrapper" class="flex-center">
    <div class="flex-center">
      <section class="logo flex-center">
        <img src="../../../public/assets/title.png" alt="Logo">
      </section>
      <section class="login flex-center">
        <h2>Administration</h2>

        <button v-if="isLoggedIn">Logout</button>
        <form v-else class="login__form">
          <input placeholder="Nom d'utilisateur" type="text">
          <input placeholder="Mot de passe" type="password">

          <button @click="submit">Connexion</button>
        </form>
      </section>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "LoginForm",
  data() {
    return {
      error: [],
    }
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    },
  },
  methods: {
    ...mapActions(["login"]),
    async logout() {
      await this.$store.dispatch('logout');
    },
    async submit() {
      //TODO: https://www.smashingmagazine.com/2020/10/authentication-in-vue-js/#code-login-vue-code
      const User = new FormData();
      User.append("username", this.form.username);
      User.append("password", this.form.password);
      try {
        await this.login(User);
        this.$router.push({
          name: 'admin',
        });
        this.error = []
      } catch (error) {
        this.error = ["Connexion à votre compte impossible"];
      }
    },
    async getUser() {

    },
  }
}
</script>

<style lang="scss" scoped>
#main_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #202324;
  font-family: Quicksand, sans-serif;
  font-weight: normal;

  > div {
    width: 100%;
    height: 50vh;

    > section {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding: 20px;
    }
  }
}

.logo {
  border-right: white solid 1px;

  > img {
    width: 40vw;
  }
}

.login {
  flex-direction: column;
  color: white;
  text-align: center;

  &__form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    > input, > button {
      margin: 10px;
      padding: 10px;
    }

    > button {
      background-color: #710083;
      border: #AC67AE solid 1px;
      color: white;
      cursor: pointer;
      transition: background-color .2s ease-in;

      &:hover {
        background-color: #630072;
      }
    }
  }
}
</style>