<template>
  <div id="main_wrapper">
    <LandingSection/>
  </div>
</template>

<script>
import LandingSection from "@/components/LandingSection";

export default {
  name: "LandpageLayout",
  components: {LandingSection}
}
</script>