<template>
  <div class="landing flex-center">
    <img class="landing__title" alt="title" src="../../public/assets/title.png">

    <div class="landing__admin landing__floating">
      <div @click="this.$router.push({name: 'admin-login'})">
        <fa-icon icon="fa-solid fa-user-gear"/>
      </div>
    </div>

    <div class="landing__medias landing__floating">
      <a v-for="(media, index) in medias" :key="index" :href="media.url" target="_blank" class="flex-center">
        <img :src="getMediaIcon(media.logo)" :alt="media.name">
      </a>
    </div>

    <div class="landing__scroll landing__floating" @click="scrollDown()">
      <fa-icon icon="fa-solid fa-angles-down"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "LandingSection",
  data() {
    return {
      medias: [
        {
          name: "Gitlab",
          logo: "gitlab.png",
          url: "https://gitlab.com/Baragouin",
        },
        {
          name: "SoundCloud",
          logo: "soundcloud.svg",
          url: "https://soundcloud.com/baragou1",
        },
        {
          name: "Twitter",
          logo: "twitter.svg",
          url: "https://twitter.com/Baragouin_",
        },
        {
          name: "Youtube",
          logo: "youtube.svg",
          url: "https://www.youtube.com/channel/UCGJ145SXSiES7HNWeQv-t6w",
        },
      ]
    }
  },
  methods: {
    getMediaIcon(filename) {
      return "../assets/medias/" + filename;
    },
    scrollDown() {
      scroll({
        top: window.innerHeight,
        left: 0,
        behavior: 'smooth',
      });
    },
  },
}
</script>

<style lang="scss" scoped>
$floating-element-size: 50px;

.landing {
  height: 100vh;
  width: 100vw;
  background: black url("../../public/assets/background.gif") center/100% no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);

  &__title {
    z-index: 1;
    width: 60%;
    transition: .2s transform ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__floating {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    padding: 5px;
    transition: background-color .2s ease;

    > a {
      margin: 5px;
    }

    svg {
      color: white;
      width: $floating-element-size;
      height: $floating-element-size;
    }
  }

  &__admin {
    top: 0;
    right: 0;
    border-bottom-left-radius: 10px;

    &:hover {
      background-color: darkred;
    }
  }

  &__medias {
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }

    > a > img {
      width: $floating-element-size;
      height: $floating-element-size;
    }
  }

  &__scroll {
    bottom: 0;
    right: center/2;
    border-radius: 50%;
    animation: bounce 1.8s ease-out;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
</style>